
<h1>
    Powering the Future
</h1>

<p>
    The big argument about environmentalism is over. Power generation through renewable methods is now cheaper than
    power generation through fossil fuels. Even the Intermountain Rural Electric Association - those guys that used
    to send you those anti-renewable pamphlets wrapped around your power bill every month - are bowing to the
    almighty dollar and <a href="https://irea.coop/victory-solar/" target="_blank">turning to wind and solar</a>
    when they build new power generation facilities.
</p>

<p>
    As recently as 9 years ago solar power was still over 50% more expensive than coal. Today coal is more than
    twice as expensive as utility scale solar. Even if you or I never put a solar panel on our houses, our energy
    providers are building solar and wind farms simply because
    <a href="http://fortune.com/2016/12/15/solar-electricity-energy-generation-cost-cheap/" target="_blank">
    they produce power more cheaply</a>. If you aren't convinced by a think piece someone put up on the Internet consider that
    <a href="http://fortune.com/2016/10/19/corporate-solar-target-walmart/" target="_blank">Wal-mart is now one of the
    largest solar energy producers in the country</a>. In the last 2 years they have retrofitted over 350 stores with
    solar panels. They wouldn't be doing that if they were losing money on the deal.
</p>


<h2 class="accordion" ng-click="activate('good')">
    <span>{{getChar('good')}}</span>
    The New Normal
</h2>

<div class="accordionBody" ng-show="isActiveTab('good')">

    <p>
        <a href="https://www.forbes.com/sites/energyinnovation/2018/01/23/cheap-renewables-keep-pushing-fossil-fuels-further-away-from-profitability-despite-trumps-efforts/#7d09a4c96ce9" target="_blank">
        Here are the prices</a> for new industrial scale power generation with the latest technology and <i>without</i> subsidies.
    </p>

    <a href="https://www.forbes.com/sites/energyinnovation/2018/01/23/cheap-renewables-keep-pushing-fossil-fuels-further-away-from-profitability-despite-trumps-efforts/#7d09a4c96ce9" target="_blank">
        <img src="img/energyCosts.png" title="Energy costs by generation method over time">
    </a>

    <p>
        Until the end of 2015 environmentalist advocates had to argue that it was worth paying more for
        renewable energy in order to fight climate change.  But not anymore.  The almighty dollar is a lot
        harder to deny than climate science is. Last year Colorado produced roughly a fourth of its energy
        from renewable sources.  Our wind generation has been growing steadily since 2006 because wind has
        been competitively priced since then and we have a lot of it. Our solar is just starting to ramp up -
        more than doubling in the last year.  Which makes sense because it is only very recently that industrial
        solar became cheaper than natural gas.
    </p>

    <img class="rightImg" src="img/coloEnergy.png" title="Energy costs by generation method over time">

    <p>
        The really interesting thing both from a fiscal and an environmental perspective is that energy
        demand is no longer keeping pace with population growth in the United States. In fact
        <a href="http://www.timesfreepress.com/news/business/aroundregion/story/2018/feb/22/tvlaunches-new-long-range-power-plan/464300/" target="_blank">
        the Tennessee Valley Authority expects to sell 13% <i>less</i> power in 2027 than it did in 2007</a>.
        There were roughly 38 million more Americans in 2016 as compared to 2001
        <a href="https://www.eia.gov/todayinenergy/detail.php?id=30652" target="_blank">
        but our total energy consumption was down</a>. New technology, modern buildings, and modern
        vehicles are vastly more energy-efficient than older ones allowing us to do more with less. Colorado
        is slightly increasing total energy consumption because our population is growing much faster than
        the rest of the nation.

    </p>

    <p>
        Flat domestic demand means the pie isn't growing anymore. Every increase in domestic
        clean power generation is matched by a decrease in older, dirtier, fuels. Much of our current
        "boom" in oil and gas extraction is due to
        <a href="https://www.washingtonexaminer.com/oil-exports-climbing-two-years-after-40-year-old-ban-lifted" target="_blank">
        lifting the 40 year ban</a> on exporting crude
        in 2015. We also green lighted exporting natural gas at about the same time and have seen a
        <a href="https://www.eia.gov/todayinenergy/detail.php?id=34032&src=email" target="_blank">
        similar growth curve</a> there.
        <!--We currently export almost 2 million barrels of crude-->
        <!--and 10 billion cubic feet of natural gas per day.-->
    </p>

    <!--<img class="centerImg" src="img/oilExports.jpg" title="Oil exports before and after ban.">-->

    <!--<p>-->
        <!--Dependency on exports makes our oil and gas extraction jobs inherently unstable.-->
        <!--World events and trade relations can heavily impact them.  Additionally, the new tariffs-->
        <!--on steel and aluminum will-->
        <!--<a href="https://www.texastribune.org/2018/06/28/abbott-letter-trump-steel-and-aluminum-tariffs-will-harm-texas-oil-and/" target="_blank">-->
        <!--substantially increase the costs</a> of new domestic production because the-->
        <!--industry uses a great deal of those two metals.  Green energy jobs, otoh, pay well-->
        <!--and aren't endangered by an errant tweet.-->
    <!--</p>-->

</div>

<h2 class="accordion" ng-click="activate('fight')">
    <span>{{getChar('fight')}}</span>
    What Is Left To Fight Over?
</h2>

<div class="accordionBody" ng-show="isActiveTab('fight')">

    <p>
        In a word, <b>safety</b>.
    </p>

    <a href="http://insideenergy.org/2017/05/05/fatal-home-explosion-in-colorado-reignites-setback-debate/" target="_blank">
        <img class="rightImg" src="img/firestone.png" title="Residential pipeline explosion in Firestone, CO">
    </a>

    <p>
        The intense pressure that cheap renewables are placing on the fossil fuel industry is leading to corner cutting.
        <a href="https://www.forbes.com/sites/sageworks/2016/10/03/the-15-least-profitable-industries-in-the-u-s/#d8a0958618ab" target="_blank">
        Forbes listed oil and gas extraction as the least profitable industry in the United States in 2016</a> with
        a net profit margin of -7.6%.
        <a href="https://www.forbes.com/sites/sageworks/2017/09/24/these-industries-generate-the-lowest-profit-margins/#1adbd8e6f49d" target="_blank">
        They lost less money in 2017 with a net profit margin of -6.9%</a>, but were still the least profitable
        industry in the country. They are being squeezed between the need to keep power costs low to remain
        competitive with ever cheaper renewables on one side and the costs of doing business on the other.
        The only part of that they can control is the production costs. This is a problem for everyone who works at or
        lives near extraction sites.  The new tariffs on steel and aluminum
        <a href="https://oilprice.com/Energy/Energy-General/What-Trumps-Tariffs-Mean-For-Global-Oil-And-Gas.html" target="_blank">
        will make this worse</a> as oil and gas is one of the largest consumers of these metals for pipelines, pumps,
        drills, and refineries. They also are much more dependent on export markets than our local solar manufacturers are.
    </p>

    <p>
        There were <a href="https://www.denverpost.com/2017/12/06/colorado-oil-gas-explosions-since-firestone-explosion/" target="_blank">
        over a dozen fires and explosions in oil and gas facilities</a> in Colorado in 2017. Common sense safety
        precautions that were standard in more profitable times - like
        <a href="http://insideenergy.org/2017/05/05/fatal-home-explosion-in-colorado-reignites-setback-debate/" target="_blank">
        adequate buffer zones</a> between extraction sites and human habitation - are now legislative footballs.
    </p>

</div>


<h2 class="accordion" ng-click="activate('Simone')">
    <span>{{getChar('Ransom')}}</span>
    What Will Simone Do?
</h2>

<div class="accordionBody" ng-show="isActiveTab('Simone')">

    <p>
        The safety question

        <a href="https://www.denverpost.com/2018/01/08/colorado-oil-gas-regulators-face-flak-communities-refine-pipeline-rules/" target="_blank">
            <img class="rightImg" src="img/firestone2.jpg" title="Residential pipeline explosion in Firestone, CO">
        </a>

        is a delicate matter because whenever an industry is hated there are people who
        seek to regulate it in bad faith. But there really is a substantive safety issue here that needs to be
        addressed. The fundamental problem here is secret underground pipelines. We know that Colorado has
        several hundred miles of buried pipelines like the one that exploded in Firestone. We do not know
        where they are or what shape they are in. If we don't know where they are then we can't keep new housing
        developments away from them. This is particularly important now with our rapidly increasing population.
        We also can't periodically inspect them to ensure they are up to code in the
        manner that all other commercial installations are inspected.  Many different people would have prevented
        the deaths in Firestone if they had just had that information.  But they didn't.
    </p>

    <ul>
        <li>
            Simone will support legislation requiring the disclosure of the locations
            of underground pipelines to local municipalities and appropriate zoning boards.
        </li>

        <li>
            Simone will support incentives to get large scale solar manufacturers to
            <a href="https://www.denverpost.com/2017/11/16/southern-colorado-running-two-large-manufacturing-plants-including-solar-panel-fab/" target="_blank">
            build manufacturing facilities</a> in Colorado. These are good paying jobs with a stable future.
        </li>

        <li>
            Simone will seek to empower local communities to protect our state's natural beauty -
            and its 20 billion dollar a year tourist industry - for future generations to enjoy.
        </li>

        <li>
            Simone will work to protect our drinking and agricultural water supplies.
        </li>
    </ul>

</div>

<h2 class="accordion" ng-click="activate('Ransom')">
    <span>{{getChar('Ransom')}}</span>
    Don't Pay The Ransom
</h2>

<div class="accordionBody" ng-show="isActiveTab('Ransom')">

    <p>
        Kim Ransom's
        <a href="http://scorecard.conservationco.org/2017/house/ransom/">Conservation Scorecard ranking</a> is at 12%.
        This is substantially below many of her peers who frequently find common ground
        with Democrats due to our shared joy in outdoor recreation and national parks. Additionally, in the
        high desert everyone cares about conserving water.
    </p>

    <p>
        The following are all bills she voted against:
    </p>

    <ul>

        <li>
            Voted against <a href="http://scorecard.conservationco.org/2017/bills/hb-1233/" target="_blank">
            HB17-1233</a> which passed with large bipartisan majorities. In Colorado we have "use it or lose it"
            water rights.  This punishes farmers for conserving water by taking away their rights to it. HB17-1233
            would allow a farmer to keep their water rights if they could demonstrate that reductions in use
            were due to investment in water conservation technology.  They could then, for example, lease those
            rights to a nearby front range city which needs to support growing numbers of residents.
        </li>

        <li>
            Voted against <a href="http://scorecard.conservationco.org/2017/bills/sb-278/" target="_blank">
            SB 278</a> which made "rolling coal" a traffic violation.  This passed with broad bi-partisan
            majorities. "Rolling coal" is modifying your vehicle to produce large, dense, clouds of black smoke on demand -
            typically in the faces of cyclists, pedestrians, and other drivers which poses a safety hazard.
        </li>

        <li>
            Voted against
            <a href="https://leg.colorado.gov/bills/hb18-1419" target="_blank">
            HB18-1419</a> which required disclosure of buried pipelines to local governments.  This bill
            passed in the house but was killed in the Senate.
        </li>
    </ul>

</div>