

<h1>
    Public Education
</h1>

<p>
    Public education is a vital component of the American Dream, our continued economic growth,
    the social contract that binds us, and even our national defense. An educated populace our most valuable
    resource. Everyone, including the childless, benefits greatly from public education.
    Not only because of the education they themselves received, but also from all the wonderful
    things educated children invent as they grow up.

    The original <a href="https://law.justia.com/constitution/colorado/cnart9.html" target="_blank">Colorado Constitution</a>
    enshrines public education as a positive right to all state residents and
    <a href="https://ballotpedia.org/Colorado_Funding_for_Public_Schools,_Initiative_23_(2000)" target="_blank">Amendment 23</a>
    - passed Nov7, 2000 - sets minimum funding levels for education.

</p>

<p>

    We are not meeting these minimum funding levels and have not met them for decades.  Our current state
    of severe underfunding is a constitutional crisis.

</p>

<h2 class="accordion" ng-click="activate('problem')">
    <span>+</span>
    The Problem
</h2>

<div class="accordionBody" ng-show="isActiveTab('problem')">

    <p>
        Colorado schools are underfunded by over $800 million per year. That would just get us to constitutionally
        mandated funding levels. We'd still be significantly below the national average. <b>Douglas County
        spends $1.5k less per student per year than the state average so we are currently $3.6k per student per year
        behind the national average.</b> At the same time as our per-pupil revenue has been shrinking our population
        has been exploding. Operational budgets have shrinking even more than it appears to fund the building of new schools.
    </p>

    <a href="https://www.greateducation.org/statistics-faqs/statistics/graph-that-says-it-all/" target="_blank">
        <img src="img/schoolFunding.jpg">
    </a>

    <p>
        No matter what funding levels are, some people will say they are to high, some to low, and some just fine.
        They can't all be correct. Colorado schools are coming up with everything they can to
        make ends meet, but there is only so much they can do with the resources allotted to them.  The results
        are all around us.
    </p>

    <ul>

        <li>
            Colorado is experiencing a
            <a href="https://www.denverpost.com/2017/04/13/colorado-teacher-shortage-crisis/" target="_blank">
            teacher shortage</a>, needing over 3,000 teachers to fill open positions
            (particularly math and science teachers) while a third of our teachers are 55 or older and nearing retirement.
        </li>

        <li>
            Between 2010 and 2016 the number of Coloradans graduating with a teaching degree
            <a href="https://www.chalkbeat.org/posts/co/2016/12/01/number-of-colorado-teaching-graduates-dips-again-but-pool-getting-more-diverse/" target="_blank">
            dropped over 26%</a>. The combination
            of <a href="http://www.cpr.org/news/story/colorado-teachers-struggle-low-salaries-report-shows" target="_blank">
            exceptionally low teacher pay</a> combined with a relatively high cost of living makes teaching an unattractive
            option.
        </li>

        <li>
            Rural Colorado schools have been dropping to
            <a href="https://www.cde.state.co.us/cdeedserv/fourdayschoolweekmanual" target="_blank">
            four day school weeks</a> to save money since the '90s. As a result we are
            <a href="https://www.sciencedirect.com/science/article/abs/pii/S0272775717306751" target="_blank">the subject of a study</a>
            showing that 4 day school weeks leads to a roughly 20% increase in youth crime.
        </li>

        <li>
            Urban areas faced with overcrowding and insufficient funds to build new schools are adopting
            <a href="http://www.cherrycreekschools.org/Calendars/201718%20Calendars/Color%204-Track%202017-18.pdf" target="_blank">
            track systems</a> with year round schooling and no summer vacation. Instead students get short breaks staggered throughout
            the year so that each school building is always being used by a fraction of the students. The constant breaks
            are disruptive and the overlapping tracks complicate lesson planning.
        </li>

        <li>
            Many schools are cutting bus routes and one is even trying to
            <a href="http://www.reporterherald.com/news/ci_30902732/thompson-considers-selling-ads-school-buses" target="_blank">
            sell ads</a> to fund its bus services.
        </li>

        <li>
            Supplimentary programs such as <a href="https://www.denverpost.com/2012/01/29/advocates-fighting-to-keep-music-playing-in-colorado-schools-2/" target="_blank">
            music</a> are being cut. <a href="https://www.coloradohealth.org/sites/default/files/documents/2016-12/PEForAllCOReport_120116_web_0.pdf" target="_blank">
            Cuts to Physical Education</a> - particularly in lower income schools - are resulting in significant increases
            in childhood obesity rates.
        </li>

    </ul>

    <p>
        Aging bus fleets and deferred capital expenditures
        do nothing but get worse the longer you ignore them. Even if we raised teacher salaries tomorrow that
        won't bring back the experienced educators who have already left our district and our state. Teacher pay
        in Colorado has declined 7.7% over the last decade and while we are fortunate that many of our older
        teachers have stayed with us through these cuts they will be retiring soon. The free market is speaking
        very clearly. We aren't paying enough so fewer and fewer people are willing to do the job.
    </p>

</div>

</div>

<h2 class="accordion" ng-click="activate('history')">
    <span>+</span>
    How We Got Here
</h2>

<div class="accordionBody" ng-show="isActiveTab('history')">

</div>

<h2 class="accordion" ng-click="activate('weed')">
    <span>+</span>
    Didn't The Marijuana Money Fix This?
</h2>

<div class="accordionBody" ng-show="isActiveTab('weed')">

    <p>
        Sales taxes on Marijuana have raised $70 million annually for the state's schools.
        We were almost a billion dollars
        below constitutionally mandated funding levels when legalization passed.
        Ethical issues regarding sin taxes aside, there simply aren't enough smokers
        in Colorado to balance our budget on their backs.  The marijuana money disappears
        into our budget hole like a tic-tac into the mouth of a whale.

    </p>

    <p>
        Most of it is not going
        directly to the classroom as it is being spent on building new schools and dealing with
        the maintenance backlogs in existing schools.
        For reference, Douglas county alone has a $100 million critical maintenance backlog. We are one
        of 64 counties in the state of Colorado and our share of the marijuana money - while much better
        than nothing - doesn't go very far.
    </p>

</div>

<h2 class="accordion" ng-click="activate('toDo')">
    <span>+</span>
    What Can We Do?
</h2>

<div class="accordionBody" ng-show="isActiveTab('toDo')">

</div>

<h2>
    Don't Pay The Ransom!
</h2>