

<h1>
    Public Education
</h1>

<p>
    Public education is a vital component of the American Dream, our continued economic growth,
    the social contract that binds us, and even our national defense. An educated populace our most valuable
    resource. Everyone, including the childless, benefits greatly from public education.
    Not only because of the education they themselves received, but also from all the wonderful
    things educated children invent as they grow up.

    The original <a href="https://law.justia.com/constitution/colorado/cnart9.html" target="_blank">Colorado Constitution</a>
    enshrines public education as a positive right to all state residents and
    <a href="https://ballotpedia.org/Colorado_Funding_for_Public_Schools,_Initiative_23_(2000)" target="_blank">Amendment 23</a>
    - passed Nov7, 2000 - sets minimum funding levels for education.

</p>

<p>

    We are not meeting these minimum funding levels and have not met them for almost two decades.  Our current state
    of severe underfunding is a constitutional crisis.

</p>

<h2 class="accordion" ng-click="activate('problem')">
    <span>{{getChar('problem')}}</span>
    The Problem
</h2>

<div class="accordionBody" ng-show="isActiveTab('problem')">

    <p>
        Colorado schools are underfunded by over $800 million per year. That would just get us to constitutionally
        mandated funding levels. We'd still be significantly below the national average. <b>Douglas County
        spends $1.5k less per student per year than the state average so we are currently $3.6k per student per year
        behind the national average.</b> At the same time as our per-pupil revenue has been shrinking our population
        has been exploding. Operational budgets have shrinking even more than it appears to fund the building of new schools.
    </p>

    <a href="https://www.greateducation.org/statistics-faqs/statistics/graph-that-says-it-all/" target="_blank">
        <img src="img/schoolFunding.jpg">
    </a>

    <p>
        No matter what funding levels are, some people will say they are to high, some to low, and some just fine.
        They can't all be correct. Colorado schools are coming up with everything they can to
        make ends meet, but there is only so much they can do with the resources allotted to them.  The results
        are all around us.
    </p>

    <ul>

        <li>
            Colorado is experiencing a
            <a href="https://www.denverpost.com/2017/04/13/colorado-teacher-shortage-crisis/" target="_blank">
            teacher shortage</a>, needing over 3,000 teachers to fill open positions
            (particularly math and science teachers) while a third of our teachers are 55 or older and nearing retirement.
        </li>

        <li>
            Between 2010 and 2016 the number of Coloradans graduating with a teaching degree
            <a href="https://www.chalkbeat.org/posts/co/2016/12/01/number-of-colorado-teaching-graduates-dips-again-but-pool-getting-more-diverse/" target="_blank">
            dropped over 26%</a>. The combination
            of <a href="http://www.cpr.org/news/story/colorado-teachers-struggle-low-salaries-report-shows" target="_blank">
            exceptionally low teacher pay</a> combined with a relatively high cost of living makes teaching an unattractive
            option.
        </li>

        <li>
            Rural Colorado schools have been dropping to
            <a href="https://www.cde.state.co.us/cdeedserv/fourdayschoolweekmanual" target="_blank">
            four day school weeks</a> to save money since the '90s. As a result we are
            <a href="https://www.sciencedirect.com/science/article/abs/pii/S0272775717306751" target="_blank">the subject of a study</a>
            showing that 4 day school weeks leads to a roughly 20% increase in youth crime.
        </li>

        <li>
            Urban areas faced with overcrowding and insufficient funds to build new schools are adopting
            <a href="http://www.cherrycreekschools.org/Calendars/201718%20Calendars/Color%204-Track%202017-18.pdf" target="_blank">
            track systems</a> with year round schooling and no summer vacation. Instead students get short breaks staggered throughout
            the year so that each school building is always being used by a fraction of the students. The constant breaks
            are disruptive and the overlapping tracks complicate lesson planning.
        </li>

        <li>
            Many schools are cutting bus routes and one is even trying to
            <a href="http://www.reporterherald.com/news/ci_30902732/thompson-considers-selling-ads-school-buses" target="_blank">
            sell ads</a> to fund its bus services.
        </li>

        <li>
            Supplimentary programs such as <a href="https://www.denverpost.com/2012/01/29/advocates-fighting-to-keep-music-playing-in-colorado-schools-2/" target="_blank">
            music</a> are being cut. <a href="https://www.coloradohealth.org/sites/default/files/documents/2016-12/PEForAllCOReport_120116_web_0.pdf" target="_blank">
            Cuts to Physical Education</a> - particularly in lower income schools - are resulting in significant increases
            in childhood obesity rates.
        </li>

    </ul>

    <p>
        Aging bus fleets and deferred capital expenditures
        do nothing but get worse the longer you ignore them. Even if we raised teacher salaries tomorrow that
        won't bring back the experienced educators who have already left our district and our state. Teacher pay
        in Colorado has declined 7.7% over the last decade and while we are fortunate that many of our older
        teachers have stayed with us through these cuts they will be retiring soon. The free market is speaking
        very clearly. We aren't paying enough so fewer and fewer people are willing to do the job.
    </p>

</div>

<h2 class="accordion" ng-click="activate('history')">
    <span>{{getChar('history')}}</span>
    How We Got Here
</h2>

<div class="accordionBody" ng-show="isActiveTab('history')">

    <p>
        This is a play in three Acts. The first was passed in 1982 when voters approved the
        <a href="https://www.cde.state.co.us/sites/default/files/documents/cdelib/librarydevelopment/publiclibraries/librarydistrictinformation/download/pdf/gallagheramendmentquestions.pdf" target="_blank">
        Gallagher Amendment</a>.
        This constitutional amendment set a cap on commercial property tax rates and also fixed the ratio of revenue
        the state was allowed to raise from commercial vs residential property taxes at 55%/45%.  In 1982 Colorado
        had a population of 3 million and was much more rural. Today, Colorado is one of the fastest growing states
        in the nation with 5.5 million people and is increasingly urban. The high value of urban property, made worse
        by the housing shortage, is forcing residential property tax <b>rates</b> down. This is starving rural towns of
        revenue they need to fund their schools, hospitals, police, and fire districts all of which comes from
        property taxes.  Residential property taxes today are among the lowest in the nation and about 1/3rd
        the rate they were when Gallagher passed.  It is also starving urban districts, but as these are where
        residential property values are increasing the impact is less severe.  Gallagher is projected to cut
        residential property tax rates an additional 15%
        <a href="https://www.denverpost.com/2018/05/03/gallagher-amendment-fix-not-in-2018/" target="_blank">
        next year</a> taking even more money out of our school's pockets.
    </p>

    <p>
        Then in 1992 we passed <a href="https://leg.colorado.gov/agencies/legislative-council-staff/tabor" target="_blank">
        TABOR</a>(The Taxpayers Bill of Rights). Prior to TABOR municipalities could compensate
        for mandatory reductions in property tax by passing other taxes. But TABOR ended this by requiring all tax
        increases to go to a popular vote for the area affected. The assumption was that people would vote to fund
        the important things. We did not. Additionally, TABOR requires that taxes
        collected in excess of caps be refunded. This means that the state cannot effectively save surpluses from
        boom years to carry it through lean years. For the past 26 years the state's per
        capita tax revenue has not been keeping up with inflation. Our school system has borne the brunt of it.
    </p>

    <p>
        In 2000 we passed <a href="https://www.greateducation.org/statistics-faqs/funding-faqs/amendment-23/" target="_blank">
        Amendment 23</a> to save our schools. This amendment required that school funding keep pace
        with inflation. It also required an extra 1% for the following ten years in order to catch per-pupil
        funding back up with where the state had been in 1989. However, <i>it did not levy additional taxes to provide
        this revenue</i> instead calling dibs on projected increases from our growing economy. When we hit a
        downturn the legislature cut school funding instead - and continued cutting it year after year. Parents and
        teachers sued the government over it in a legal battle that went all the way to the state Supreme Court.
        Unfortunately the court saw this problem as a fundamental conflict between two amendments that it
        could not resolve. 23 demanded funding for schools, TABOR forbade the state from raising revenue without
        voter approval, and there are many other necessary things that are government needs to do such as fund police,
        fire fighting, the court system, water treatment, power, maintain the roads, etc. The court told the parents to
        pass a tax increase to raise the revenue 23 needed. In 2013 they got a proposal on the ballot that was rejected
        by voters 65/35. Note that only about a third of Colorado's electorate has school age children at any one time.
        This is the fundamental problem with TABOR - it relies on people supporting tax increases for vital services
        even when they aren't personally utilizing them.
    </p>

</div>

<h2 class="accordion" ng-click="activate('weed')">
    <span>{{getChar('weed')}}</span>
    Didn't The Marijuana Money Fix This?
</h2>

<div class="accordionBody" ng-show="isActiveTab('weed')">

    <p>
        Sales taxes on Marijuana have raised $70 million annually for the state's schools.
        We were almost a billion dollars
        below constitutionally mandated annual funding levels when legalization passed.
        Ethical issues regarding sin taxes aside, there simply aren't enough smokers
        in Colorado to balance our budget on their backs.  The marijuana money disappears
        into our budget hole like a tic-tac into the mouth of a whale.

    </p>

    <p>
        Most of it is not going
        directly to the classroom as it is being spent on building new schools and dealing with
        the maintenance backlogs in existing schools.
        For reference, Douglas county alone has an over $100 million critical maintenance backlog. We are one
        of 64 counties in the state of Colorado and our share of the marijuana money - while much better
        than nothing - doesn't go very far.
    </p>

</div>

<h2 class="accordion" ng-click="activate('toDo')">
    <span>{{getChar('toDo')}}</span>
    What Can We Do?
</h2>

<div class="accordionBody" ng-show="isActiveTab('toDo')">

    <p>
        The most important thing we can do is vote. In Colorado revenue increases can only be passed with
        the consent of the people and that's you and me. There should be two proposals on your ballot this year -
        one statewide and one just in Douglas County. Vote for them! This is not a drill!
    </p>

    <p>
        As your legislator Simone can also work to reduce waste in the system. For nearly a decade we
        have entertained proposals that this is merely a "management problem" that we could somehow fix by
        "thinking outside the box" and "getting creative". This made us easy marks for con men selling us
        miracles. We've thrown money away on useless nostrums like a
        <a href="https://www.the74million.org/article/even-after-colorados-teacher-evaluation-revolution-fewer-than-one-in-1000-rated-ineffective/" target="_blank">
        cumbersome teacher evaluation bill</a> in 2010. Today even its ardent supporters - such as school
        superintendent Rob Stein - say that "<i>Broadly speaking,
        I would say the law has been a failure. We have not realized the improvements that we hoped to see,
        and it’s just added another layer of bureaucracy and hoops</i>". We need to stop failing reforms
        and get back to basics.
    </p>

    <p>
        There is also <a href="https://www.chieftain.com/news/politics/pressure-building-to-avert-property-tax-cuts-by-amending-colorado/article_8ace1896-221a-50fb-bf60-4a0b419d006a.html" target="_blank>">
        bi-partisan interest in repealing or modifying the Gallagher Amendment</a> which has been really
        hurting rural Colorado towns and fire districts.  Simone would support any effort to get a repeal or
        beneficial modification of Gallagher onto the ballot.
    </p>

</div>

<h2 class="accordion" ng-click="activate('Ransom')">
    <span>{{getChar('Ransom')}}</span>
    Don't Pay The Ransom
</h2>

<div class="accordionBody" ng-show="isActiveTab('Ransom')">

    <p>
        Kim Ransom is one of a select few legislators who have a 0% rating by the
        <a href="https://votesmart.org/interest-group/2652/rating/10285?of=rating" target="_blank">Colorado Education Association.</a>
        She has not only consistently voted against all efforts to improve our k-12 system, but also gone beyond that in her
        advocacy for home schooling. Consider the following bills that Kim has been a sponsor for:
    </p>

    <ul>
        <li>
            Every session Kim seeks to divert funds to give tax credits to parents who home school or enroll their children
            in for-profit private schools.  See
            <a href="https://openstates.org/co/bills/2015A/SB15-045/" target="_blank">SB15-045</a>,
            <a href="https://openstates.org/co/bills/2016A/SB16-154/" target="_blank">SB16-154</a>,
            <a href="https://openstates.org/co/bills/2017A/SB17-039/" target="_blank">SB17-039</a>,
            and <a href="https://openstates.org/co/bills/2018A/SB18-083/" target="_blank">SB18-083</a>.
        </li>

        <li>
            In her first session she authored a bill to reduced the window of compulsory education by two years,
            from ages 6 - 17 to ages 7 - 16.
            See <a href="https://openstates.org/co/bills/2015A/HB15-1053/" target="_blank">HB15-1053</a>.
        </li>

        <li>
            Last year she proposed a bill to end the practice of testing or collecting metrics at the state level for student
            performance in Social Studies.  Social Studies contains civics and American History which instruct children
            in how our democracy works and why it works as it does.
            See <a href="https://leg.colorado.gov/sites/default/files/documents/2017A/bills/2017a_1117_01.pdf" target="_blank">HB17-1117</a>.
        </li>
    </ul>

    <p>
        A good home school run by loving parents or professional tutors delivers a bespoke education specifically
        tailored to a child's needs. It is a privilege to be able to afford to home school your children as Kim
        did hers. But it is not something we can provide for everyone and it would be inappropriate to de-fund
        our k-12 system further or lower our educational standards. A majority of HD 44 constituents send their
        children to public schools and value this public service.
    </p>

</div>
